*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 50%;
    border: 1px solid;
    background-color: #df505f;
    border-radius: 5px;
    color: white;
}

.body{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 50%;
    margin-top: 2%;
    border: 1px solid;
    background-color: #dfe2de;
    padding: 3%;
}

.body select{
    margin: 1%;
    padding: 0.5%;
    background-color: #df505f;
    color: white;
}

.body select:hover{
    background-color: #dfe2de;
    color: black;
}

.body input{
    background-color: #df505f;
    margin: 1%;
    border: 0.5px solid;
    padding: 0.5%;
    color: white;
    width: 100px;
}