
<div class="header">
    <h1>Gasolinera Reyes</h1>
    <p>Ingrese los datos solicitados para observar el costo de la compra</p>
</div>

<div class="body">
    <label>Tipo de gasolina: </label>
    <select [(ngModel)]="selected" (change)="costoDeCompra()">
        <option value="Selecciona">Selecciona</option>
        <option *ngFor="let type of tipogasolina" value="{{type}}">{{type}}</option>
    </select>
    <label [hidden]="selected == 'Selecciona'"> ${{costosgasolina}} por galón</label>
    <br/>
    <label>Cantidad de galones a comprar: </label>
    <input type="number" step="0.05" [(ngModel)]="cantidad" min="0.05" max="150" (change)="costoDeCompra()">
    <br/>
    <label>Total a pagar: </label>
    <input type="text" [(ngModel)]="total" disabled> 
</div>
