

<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            List of Alumns
        </h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let alumno of alumnoList">
                    <td>{{alumno.$key}}</td>              
                    <td>{{alumno.name}}</td>
                    <td>{{alumno.lastname}}</td>
                    <td>{{alumno.age}}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(alumno)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" (click)="onDelete(alumno.$key)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 
   <!--   
       mt-4 espacio en blanco vertical 
        <ul class="list-group">
          <li *ngFor="let alumno of alumnoList" class="list-group-item list-group-itemaction">
            <span class="badge badge-primary">{{alumno.$key}}</span>
            - {{alumno.name}}
            - {{alumno.lastname}}
            - {{alumno.age}}
            
                <a class="btn btn-secondary text-white" (click)="onEdit(alumno)">
                    <i class="far fa-edit"></i>
                </a>
                <a class="btn btn-danger text-white" (click)="onDelete(alumno.$key)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            
          </li>
        </ul>
    -->

        
        
